@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-gray-900;
  }
  
  a {
    @apply text-link-blue hover:underline;
  }
  
  p {
    @apply leading-relaxed;
  }
  
  h1 {
    @apply text-4xl font-bold mb-6;
  }
  
  h2 {
    @apply text-2xl font-bold mb-4;
  }
  
  h3 {
    @apply text-xl font-semibold mb-3;
  }
  
  h4 {
    @apply text-lg font-semibold mb-2;
  }
  
  ul {
    @apply list-disc list-inside space-y-1;
  }
  
  li {
    @apply ml-4;
  }
}
